@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,700");
body {
  font-family: "Work Sans", helvetica, arial, sans-serif;
  -moz-osx-font-smoothing: grayscale; }

h1, h2, h3, h4 {
  font-weight: 700; }

.lead-block h1, .lead-block p {
  color: #ffffff; }

.fine-print {
  font-size: 0.8rem; }

#feedback-container {
  border: 1px solid #1c1c1c; }
  #feedback-container .userFeedbackBlock {
    position: relative;
    border-bottom: 1px solid #1c1c1c; }
    #feedback-container .userFeedbackBlock .delete-item {
      position: absolute;
      top: 20px;
      right: 20px; }
    #feedback-container .userFeedbackBlock:last-of-type {
      border-bottom: none; }
