doctype html
html
  head
    title #{title} – #{siteTitle}
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(id=pageId)
    block content
  script(src='/javascripts/script.js')
