extends layout

block content
  <div class="container pt-5">
    <div class="row">
      <div class="col-md-4 offset-md-4">
        h1 Team roster 2018
        h3 Starters
        ul
          each val, index in players.starters
            <li><strong>#{val.name}</strong> #{val.position}</li>

        h3 Bench
        ul
          each val, index in players.bench
            <li><strong>#{val.name}</strong> #{val.position}</li>
      </div>
    </div>
  </div>
