/* Reset.scss
 * Props to Eric Meyer (meyerweb.com) for his CSS reset file. We're using an adapted version here	that cuts out some of the reset HTML elements we will never need here (i.e., dfn, samp, etc).
 * ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
html, body {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, del, dfn, em, img, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  line-height: 1;
  font-family: inherit; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ol, ul {
  list-style: none; }

q:before, q:after, blockquote:before, blockquote:after {
  content: ""; }

html {
  overflow-y: scroll;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block; }

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button,
input {
  line-height: normal;
  *overflow: visible; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background: #000000;
  font-family: helvetica, arial, sans-serif; }

.content-wrapper {
  width: 100%;
  height: 100vh;
  background: #F8FCFD;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }
  .content-wrapper.impact {
    background: #D3D3D3; }
  .content-wrapper kbd {
    font-family: helvetica, arial, sans-serif;
    background: #000000;
    padding: 15px;
    border-radius: 3px 0 0 3px;
    color: #ffffff;
    display: inline-block;
    margin-right: 8px; }
  .content-wrapper .key {
    display: inline-block;
    padding: 0 15px 0 0;
    border-radius: 3px;
    background: #ffffff;
    transition: all 0.05s;
    box-shadow: 0 0 1px #686868; }
  .content-wrapper .playing {
    transform: scale(1.2);
    box-shadow: 0 0 20px #D3D3D3; }

#clock-wrapper {
  background: #000000; }

.clock {
  width: 30rem;
  height: 30rem;
  border: 20px solid white;
  border-radius: 50%;
  margin: 50px auto;
  position: relative;
  padding: 2rem;
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1), inset 0 0 0 3px #000000, inset 0 0 10px #000000, 0 0 10px rgba(0, 0, 0, 0.2); }

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px);
  /* account for the height of the clock hands */ }

.hand {
  width: 50%;
  height: 6px;
  background: #ffffff;
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1); }
  .hand.second-hand {
    background: #3dd52d; }
  .hand.hour-hand {
    background: #686868; }

html {
  box-sizing: border-box;
  background: #ffc600; }

body {
  margin: 0; }

*, *:before, *:after {
  box-sizing: inherit; }

.panels {
  min-height: 100vh;
  overflow: hidden;
  display: flex; }

.panel {
  background: #6B0F9C;
  box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
  color: white;
  text-align: center;
  align-items: center;
  /* Safari transitionend event.propertyName === flex */
  /* Chrome + FF transitionend event.propertyName === flex-grow */
  transition: font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11), background 0.2s;
  font-size: 20px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1; }

.panel1 {
  background-image: url(https://source.unsplash.com/gYl-UtwNg_I/1500x1500); }

.panel2 {
  background-image: url(https://source.unsplash.com/rFKUFzjPYiQ/1500x1500); }

.panel3 {
  background-image: url(https://images.unsplash.com/photo-1465188162913-8fb5709d6d57?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&w=1500&h=1500&fit=crop&s=967e8a713a4e395260793fc8c802901d); }

.panel4 {
  background-image: url(https://source.unsplash.com/ITjiVXcwVng/1500x1500); }

.panel5 {
  background-image: url(https://source.unsplash.com/3MNzGlQM7qs/1500x1500); }

.panel > * {
  margin: 0;
  width: 100%;
  transition: transform 0.5s;
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center; }

.panel > *:first-child {
  transform: translateY(-100%); }

.panel > *:last-child {
  transform: translateY(100%); }

.panel.open > *:first-child {
  transform: translateY(0%); }

.panel.open > *:last-child {
  transform: translateY(0%); }

.panel p {
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
  font-size: 1em; }

.panel p:nth-child(2) {
  font-size: 3em; }

.panel.open {
  font-size: 30px;
  flex: 5; }
