@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,700');

// typography
$font-sans:'Work Sans', helvetica, arial, sans-serif;

// colours
$white:#ffffff;
$black:#1c1c1c;
$light-blue:#f2f7f7;
$primary:#007bff;
