body {
  background:yellow;
  font-family:helvetica, arial, sans-serif;
}

.boneyard {
  float:left;
}


// Canvas explorations

#main-canvas {
  height:300px;
  width:300px;
  background:black;
}

#canvas-2 {
  height:800px;
  width:800px;
  background:white;
}
